<!DOCTYPE html>
<html lang="ru" ng-app="crudApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Тестовое задание</title>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="assets/jquery/dist/jquery.min.js"></script>

    <!-- jGrowl -->
    <link href="assets/jGrowl/jquery.jgrowl.min.css" rel="stylesheet">
    <script src="assets/jGrowl/jquery.jgrowl.min.js"></script>

    <link href="css/style.css" rel="stylesheet">
</head>
<body ng-controller="crudAppCtrl">

<div class="container">
    <div class="row">
        <button type="button" id="remove_all"
                class="btn btn-default col-xs-offset-11 col-xs-1 glyphicon glyphicon-remove-circle"
                data-toggle="tooltip" data-placement="left" title="Clear all data" ng-click="clearAll()"></button>
    </div>
    <h2>Тестовое задание</h2>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="{{ form.active ? 'active' : ''}}"  ng-repeat="(name, form) in forms">
            <a href="#{{ name }}" aria-controls="{{ name }}" role="tab" data-toggle="tab" ng-click="setActive(name)">{{ name }}</a>
        </li>
    </ul>

    <div class="row">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary glyphicon glyphicon-edit col-xs-offset-11 col-xs-1"
                data-toggle="modal" data-target="#modal-form" title="Edit">
        </button>
    </div>

    <div class="row">
        <table class="table table-responsive">
            <tr ng-repeat="field in formActive.vars">
                <td>{{ field.label }}</td>
                <td>{{ field.value }}</td>
            </tr>
        </table>
    </div>

    <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{{ modalForm.label }} edit</h4>
                </div>
                <form class="form-horizontal" id="form-modal-form" ng-submit="form_submit()">
                    <div class="modal-body">
                            <label class="form-group"  ng-repeat="(fieldName, field) in modalForm.vars">
                                <span class="control-label col-xs-3">{{ field.label }}</span>

                                <div class="col-xs-{{ $first ? 2 : 9 }}">
                                    <input type="text" class="form-control" name="{{ fieldName }}"
                                           ng-readonly="field.readonly" ng-model="field.value">
                                </div>
                            </label>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/angular/angular.min.js"></script>
<script src="js/storage.js"></script>
<script src="js/main.js"></script>
<script src="js/controllers.js"></script>
<script src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>